In [1]:
import pandas as pd
from sklearn import svm,metrics, model_selection
import random, re

In [2]:
csv = []
with open('pyml_rev_examples/ch4/iris.csv', 'r', encoding='utf-8') as fp:
    for line in fp:
        line = line.strip()    # 줄바꿈 제거
        cols = line.split(',') # 쉼표로 자르기
        fn = lambda n : float(n) if re.match(r'^[0-9\.]+$', n) else n
        cols = list(map(fn, cols))
        csv.append(cols)
del csv[0]

In [3]:
csv[:3]

[[5.1, 3.5, 1.4, 0.2, 'Iris-setosa'],
 [4.9, 3.0, 1.4, 0.2, 'Iris-setosa'],
 [4.7, 3.2, 1.3, 0.2, 'Iris-setosa']]

In [5]:
data = pd.read_csv('pyml_rev_examples/ch4/iris.csv')
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [6]:
random.shuffle(csv)

In [6]:
from sklearn.model_selection import GridSearchCV

In [7]:
# 학습6 : 테스트4 로 분할
total_len = len(csv)
train_len = int(total_len * 3 / 5)
train_data = []
train_label = []
test_data = []
test_label = []
for i in range(total_len):
    data  = csv[i][0:4]
    label = csv[i][4]
    if i < train_len:
        train_data.append(data)
        train_label.append(label)
    else:
        test_data.append(data)
        test_label.append(label)

In [8]:
clf = svm.SVC()
clf.fit(train_data, train_label)
pre = clf.predict(test_data)

In [9]:
ac_score = metrics.accuracy_score(test_label, pre)
print("정답률 =", ac_score)

정답률 = 0.9833333333333333

In [14]:
import pandas as pd
from sklearn import svm, metrics, model_selection
import random, re

In [15]:
csv = pd.read_csv('pyml_rev_examples/ch4/iris.csv')
csv.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [18]:
data = csv[["SepalLength","SepalWidth","PetalLength","PetalWidth"]]
label = csv["Name"]

In [19]:
clf = svm.SVC()
# 7분할
scores = model_selection.cross_val_score(clf, data, label, cv=7)

In [20]:
print("각각의 정답률 =", scores)
print("평균 정답률 =", scores.mean())

각각의 정답률 = [0.95454545 1.         1.         0.95238095 0.95238095 0.95238095
 1.        ]
평균 정답률 = 0.9730983302411874